<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.booksales.infrastructure.mapper.MembershipMapper">
  <resultMap id="BaseResultMap" type="com.kevin.booksales.domain.membership.Membership">
    <id column="levelCode" jdbcType="INTEGER" property="levelcode" />
    <result column="levelTitle" jdbcType="VARCHAR" property="leveltitle" />
    <result column="customerId" jdbcType="INTEGER" property="customerid" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime" />
  </resultMap>
  <sql id="Base_Column_List">
    levelCode, levelTitle, customerId, discount, createdTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from membership
    where levelCode = #{levelcode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from membership
    where levelCode = #{levelcode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="levelCode" keyProperty="levelcode" parameterType="com.kevin.booksales.domain.membership.Membership" useGeneratedKeys="true">
    insert into membership (levelTitle, customerId, discount, 
      createdTime)
    values (#{leveltitle,jdbcType=VARCHAR}, #{customerid,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="levelCode" keyProperty="levelcode" parameterType="com.kevin.booksales.domain.membership.Membership" useGeneratedKeys="true">
    insert into membership
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="leveltitle != null">
        levelTitle,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="createdtime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="leveltitle != null">
        #{leveltitle,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kevin.booksales.domain.membership.Membership">
    update membership
    <set>
      <if test="leveltitle != null">
        levelTitle = #{leveltitle,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        customerId = #{customerid,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null">
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where levelCode = #{levelcode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kevin.booksales.domain.membership.Membership">
    update membership
    set levelTitle = #{leveltitle,jdbcType=VARCHAR},
      customerId = #{customerid,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      createdTime = #{createdtime,jdbcType=TIMESTAMP}
    where levelCode = #{levelcode,jdbcType=INTEGER}
  </update>
</mapper>